.header-left {
    height: 895px;
}

.header-right {
    height: 895px;
    padding-top: 103px;
}

.header-right p{
    font-size: 47px;
    font-weight: normal; 
    color: #161E6D; 
}

.header-form-container {
    margin-top: 29px;
    padding-right: 15px;
}

.header-form-btn {
    margin-top: 30px;
    padding-right: 25px;
    padding-left: 15px;
}

.header-left-background {
    position: absolute;
    width: 90%;
    height: 20%;
    background: transparent linear-gradient(90deg, #F95D5D 0%, #D2345B 100%) 0% 0% no-repeat padding-box;
}

.itcan-logo-img {
    position: absolute;
    top: 54px;
    left: 120px;
    width: 184px;
    height: 83px;
}

.book-img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    height: 65%;
}

.men-img {
    position: absolute;
    margin: auto;
    top: 1vw;
    bottom: 0;
    left: 45%;
    right: 0;
    width: 12.5%;
    height: 30vw;
    -webkit-animation: 1.5ms ease 0s normal forwards 1 fadein;
    animation: 1.5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0.3; }
    66% { opacity:0.5; }
    88% { opacity:0.8; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    33% { opacity:0.3; }
    66% { opacity:0.5; }
    88% { opacity:0.8; }
    100% { opacity:1; }
}

.example-component.active {
    transition: 1s;
  opacity: 1;
  visibility: visible; 
}

/* 1344 px */
@media (max-width: 1344px) {
    .header-right p{
        font-size: 34px;
    }
}

/* 1250 px */
@media (max-width: 1250px) {

}

/* 990 */
@media (max-width: 990px) {

    .header-right p{
        font-size: 47px;
        text-align: center;
        padding-left: 57px;
        padding-right: 57px;
    }
    .header-form-container {
        padding-right: 0px;
        margin: 29 auto;
    }
    .header-form-btn {
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
        margin: 30px auto;
    }
    .men-img {
        height: 50vw;
    }
}

/* 770 */
@media (max-width: 990px) {

}

/* 500 */
@media (max-width: 500px) {
    .header-left{
       height: 305px;
    }
    .header-right{
        height: 555px;
        padding-top: 50px;
    }
    .header-right p{
        font-size: 22px;
        text-align: center;
        padding-left: 57px;
        padding-right: 57px;
    }

    .header-left-background {
        width: 100%;
        height: 28%;
    }

    .itcan-logo-img {
        margin: auto;
        left: 0;
        right: 0;
        top: 40px;
        width: 77px;
        height: 35px;
    }
    .book-img {
        top: 33px;
        width: 47%;
        height: 56%;
    }
    
    .men-img {
        top: 13vw;
        left: 33%;
        width: 13.5%;
        height: 30vw;
    }
}

/* 411 */
@media (max-width: 411px) {
    .header-right p{
        font-size: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

