.header-left {
    background-color: #F95D5D;
    height: 895px;
}

.header-right {
    height: 895px;
    padding-top: 103px;
}

.header-right p{
    font-size: 47px;
    font-weight: normal; 
    color: #161E6D; 
}

.header-form-container {
    margin-top: 29px;
    padding-right: 15px;
}

.header-form-btn {
    margin-top: 30px;
    padding-right: 25px;
    padding-left: 15px;
}


/* mobile devices */
@media (max-width: 500px) {
    .header-left{
       height: 305px;
    }
    .header-right{
        height: 555px;
        padding-top: 50px;
    }
    .header-right p{
        font-size: 22px;
        text-align: center;
        padding-left: 57px;
        padding-right: 57px;
    }
}


/* ipad */
@media (max-width: 990px) {

    .header-right p{
        font-size: 47px;
        text-align: center;
        padding-left: 57px;
        padding-right: 57px;
    }
    .header-form-container {
        padding-right: 0px;
        margin: 29 auto;
    }
    .header-form-btn {
        width: 90%;
        padding-right: 0px;
        padding-left: 0px;
        margin: 30px auto;
    }
}

@media (max-width: 1344px) {
    .header-right p{
        font-size: 34px;
    }
}

@media (max-width: 411px) {
    .header-right p{
        font-size: 21px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

