.home-page-container section {
    /* margin-top: 50px; */
}

.who-itcan-text-container {
    padding-top: 70px;
    width: 75%;
    margin: 0 auto;
}

.who-itcan-text-container p {
    font-size: 29px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.who-itcan-values-container {
    width: 75%;
    margin: 110px auto 0px auto;
    /* margin-top: 189px; */
}

.who-itcan-values-container Col {
    margin: 2px;
}

.who-itcan-services-container {
    width: 85%;
    margin: 130px auto 0px auto; 
}

.who-itcan-sevices-container Col {
    margin: 1px;
}

.itcan-location-container {
    width: 75%;
    margin: 130px auto 0px auto; 
}

.itcan-location-container Col {
    margin: 1px;
}

.itcan-clients-container-parent {
    margin-top: 130px;
}

.itcan-clients-container {
    width: 75%;
    margin: 40px auto 0px auto; 
}

.itcan-clients-container Col {
    margin: 1px;
}

.itcan-industries-container {
    width: 75%;
    margin: 130px auto 0px auto; 
}

.itcan-industries-container Col {
    margin: 1px;
}

/* 500 */
@media (max-width: 500px) {
    .home-page-container section {
        margin-top: 140px;
    }

    .who-itcan-text-container {
        padding-top: 14px;
    }

    .who-itcan-text-container p {
        font-size: 18px;
    }

}