.home-page-container section {
    margin-top: 150px;
}

.who-itcan-text-container {
    padding-top: 70px;
    width: 84%;
    margin: 0 auto;
}

.who-itcan-text-container p {
    font-size: 31px;
    color: #000000;
    font-weight: 400;
    text-align: center;
}

.who-itcan-values-container {
    width: 88%;
    margin: 122px auto 0px auto;
    /* margin-top: 189px; */
}

.who-itcan-values-container Col {
    margin: 2px;
}

.who-itcan-services-container {
    width: 95%;
    margin: 122px auto 0px auto; 
}

.who-itcan-sevices-container Col {
    margin: 1px;
}

.itcan-location-container {
    width: 95%;
    margin: 122px auto 0px auto; 
}

.itcan-location-container Col {
    margin: 1px;
}


/* 500 */
@media (max-width: 500px) {
    .home-page-container section {
        margin-top: 140px;
    }

    .who-itcan-text-container {
        padding-top: 14px;
    }

    .who-itcan-text-container p {
        font-size: 18px;
    }

}